# Node.js dependencies
node_modules/

# Hardhat build artifacts
artifacts/
cache/

# Environment variables file
.env

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# NPM/Yarn
package-lock.json
yarn.lock
